<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    @for (enclosure of enclosures; track $index) {
        <div class="border rounded-lg p-4 shadow">
            <h2 class="text-xl font-bold">{{ enclosure.name }}</h2>
            <p class="text-sm text-gray-600">{{ enclosure.type }} — Caretaker: {{ enclosure.caretaker }}</p>
            <ul class="mt-2 list-disc list-inside">
                @if (enclosure.type === 'Safari') {
                    <app-animal-cards /> 

                }@else if (enclosure.type === 'Aquatic') {
                    <app-animal-cards /> 
                }
                
            </ul>
         </div>
    }
</div>
