<header class="text-black bg-green-300 ">
    <nav>
        <a routerLink="/home">Home</a>
        <a routerLink="/dashboard">Dashboard</a>
        <!-- <a routerLink="/animals">Animals</a>
        <a routerLink="/enclosures">Enclosures</a>
        <a routerLink="/feeding-schedule">Feeding Schedule</a>
        <a routerLink="/staff">Staff</a>
        <a routerLink="/report">Report</a>
        <a routerLink="/setting">Setting</a>
        <a routerLink="/logout">Logout</a> -->
    </nav>
</header>