
<table class="table-auto m-10 h-30 w-30 border border-gray-300">
    <caption class=" font-bold mb-10">Feeding Schedule</caption>
  <thead>
    <tr class="bg-gray-100 border-b border-gray-300">
      <th class="px-4 py-2 border-r">Name</th>
      <th class="px-4 py-2 border-r">Species</th>
      <th class="px-4 py-2 border-r">Time</th>
      <th class="px-4 py-2 border-r">Food</th>
      <th class="px-4 py-2 border-r">Frequency</th>
      <th class="px-4 py-2">Assigned Caretaker</th>
    </tr>
  </thead>
  <!-- <tbody>
    @for(item of schedule; track schedule){
      <tr class="border-b border-gray-200 hover:bg-gray-50">
        <td class="px-4 py-2 border-r">{{item.name}}</td>
        <td class="px-4 py-2 border-r">{{item.animal}}</td>
        <td class="px-4 py-2 border-r">{{item.time}}</td>
        <td class="px-4 py-2 border-r">{{item.food}}</td>
        <td class="px-4 py-2 border-r">{{item.frequency}}</td>
        <td class="px-4 py-2">{{item.caretaker}}</td>
      </tr>
    }
  </tbody> -->
</table>
